html,
h1 {
    font-family: Impact;
    color: purple;
    text-align: center;
}

body {
    background-color: aqua;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}