{% extends 'base.html' %}

{% block head %}

    {% block title %}
    <h3> Toyolink </h3>
    {% endblock title %}

    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href='/user/{{user_id}}'">Profile</a></li>
            <li><a href="/movies_by_genre">Movies By Genre</a></li>
            <li><a href="/movie_finder">Movie Finder</a></li>
        </ul>
    </div>

{% endblock head %}

{% block body %}

<h1>Movies:</h1>

<ul>
    {% for movie in movies %}
    <li>
        <span>
            <a href="/movies/{{ movie.content_id }}">
                <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" />
            </a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock body %}

