{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block body %}
<h1>Movies:</h1>
<button onclick="location.href='/user/{{user_id}}'">Profile</button>
<button onclick="location.href='/'">Back To Homepage</button>
<button onclick="location.href='/movies_by_genre'">Movie By Genre</button>
<button onclick="location.href='/movie_finder'">Movie Finder</button>

<ul>
    {% for movie in movies %}
    <li>
        <span>
        <a href="/movies/{{ movie.content_id }}">
        <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" />      
        </a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock body %}