{% extends 'base.html' %}

{% block head %}

  {% block title %}
  <h3> Toyolink </h3>
  {% endblock title %}
  
  <div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
  </div>

    <title>Registration Page</title>
{% endblock head %}

{% block body %}

<h8>
  <img class="homepage">
</h8>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Register:
<form action="/register" method="POST">
  <p>
    Username: <input type="text" name="Username" required>
  </p>

  <p>
    Password: <input type="password" name="password" required>
  </p>

  <p>
    <input type="submit" value="Register" class="form-submit-button">
  </p>
</form>
</h2>
{% endblock body %}
