{% extends 'base.html' %}

{% block head %}

  {% block title %}
  <h3> Toyolink </h3>
  {% endblock title %}

<button onclick="location.href='/'" class="form-submit-button">Back To Homepage</button>
    <title>Registration Page</title>
{% endblock head %}

{% block body %}

<h5>
  <img class="homepage">
</h5>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Register:</h2>
<form action="/register" method="POST">
  <p>
    Username: <input type="text" name="Username" required>
  </p>

  <p>
    Password: <input type="password" name="password" required>
  </p>

  <p>
    <input type="submit" value="Register" class="form-submit-button">
  </p>
</form>

{% endblock body %}
