{% extends 'base.html' %}

{% block head %}

    {% block title %}
    <h3> Toyolink </h3>
    {% endblock title %}
    <button onclick="location.href='/all_movies'" class="form-submit-button">Back To All Movies</button>
{% endblock head %}

{% block body %}

{% if selected_genre %}
  <h1>{{ selected_genre }}</h1>
{% else %}
  <h1>Please select a genre</h1>
{% endif %}

<form action="/movies_by_genre" method="GET">
    <h9>
    <label for="genre">Genre:</label>
    </h9>
    <select name="genre" onchange="this.form.submit()" class="genre-dropdown">
        <option value="" class="genre-dropdown">--All Genres--</option>
        {% for genre in genres %}
            <option class="genre-dropdown" value="{{ genre }}" 
                    {% if genre == selected_genre %} selected {% endif %}>
                {{ genre }}
            </option>
        {% endfor %}
    </select>
</form>

<ul>
    {% for movie in movies %}
        <li>
            <a href="/movies/{{ movie.content_id }}">
            <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" />      
            </a>
        </li>
    {% endfor %}
</ul>

{% endblock body %}