{% extends 'base.html' %}

{% block head %}

    {% block title %}
    <h3> Toyolink </h3>
    {% endblock title %}

{% endblock head %}

{% block body %}

<h1>Movies in Genre: {{ selected_genre }}</h1>
<button onclick="location.href='/all_movies'" class="form-submit-button">Back To All Movies</button>

<form action="/movies_by_genre" method="GET">
    <label for="genre">Select Genre:</label>
    <select name="genre" onchange="this.form.submit()">
        <option value="">--All Genres--</option>
        {% for genre in genres %}
            <option value="{{ genre }}" 
                    {% if genre == selected_genre %} selected {% endif %}>
                {{ genre }}
            </option>
        {% endfor %}
    </select>
</form>

<ul>
    {% for movie in movies %}
        <li>
                <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" />
            </a>
        </li>
    {% endfor %}
</ul>

{% endblock body %}