{% extends 'base.html' %}

{% block head %}

    {% block title %}
    <h3> Toyolink </h3>
    {% endblock title %}

    {{ movie.title }}

{% endblock head %}

{% block body %}
<button onclick="location.href='/all_movies'" class="form-submit-button">Back To All Movies</button>
<h1>{{ movie.title }}</h1>

<p>
  {{ movie.tagline }}
</p>

<img class="img" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}">

<form action="{{ url_for('rate_movie', content_id=movie.content_id) }}" method="post">
  <h2>Select Rating:</h2>
  <p>
    Rating: 
    <select name="rating">
      <option value="">Select your rating!</option>
      {% for num in range(6) %}
        <option value="{{ num }}">{{ num }}</option>
      {% endfor %}
    </select>
  </p>
  
  <h2>Leave a Review:</h2>
  <textarea name="review" rows="5" cols="50" placeholder="Write your review here..."></textarea>
  
  <p><input type="submit" value="Submit" class="form-submit-button"></p>
</form>

{% endblock %}
