{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
<button onclick="location.href='/all_movies'">Back To All Movies</button>
<h1>{{ movie.title }}</h1>

<p>
  {{ movie.tagline }}
</p>

<img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}">

<h2>Select Rating:</h2>
<form action="/movies/{{ movie.content_id }}/ratings" method="POST">
  <p>
    Rating: 
    <select name = "rating">
      <option value =""> Select your rating!</option>
      {% for num in range(6) %}
        <option value ="{{num}}" > {{num}}</option>
        {% endfor %}
    </select>
  </p>
  <p> <input type = "submit"></p>
</form>

  <h2>Leave a Review:</h2>
  <textarea name="review" rows="5" cols="50" placeholder="Write your review here..."></textarea>
  
  <p><input type="submit"></p>
</form>

{% endblock %}
