{% extends 'base.html' %}

{% block head %}

    {% block title %}
    <h3> Toyolink </h3>
    {% endblock title %}

    <div class="navbar">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/all_movies">All Movies</a></li>
      </ul>
  </div>
  
    <h1>My List:</h1>

{% endblock head %}

{% block body %}

{% if user_ratings %}
  <ul>
    {% for movie, rating in user_ratings %}
    <li class="movie-item">
      <a href="/movies/{{ movie.content_id }}">
          <img class="img" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" />
      </a>
      <h10>
        <div class="movie-details">
            <strong>{{ movie.title }}</strong>
            <p>
              {{ movie.tagline }}
            </p>
            Rating: {{ rating.rating }}
        </div>
      </h10>
      <h11>
      <div class="review-box">{{ rating.review }}</div>
      </h11>
  </li>
    {% endfor %}
  </ul>
{% else %}
  <h2>You haven't rated any movies yet!</h2>
{% endif %}
{% endblock body %}


